* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-body {
  margin-top: 2%;
}
/* Menu Bar */

nav {
  height: 60px;
  background-color: white;
  /* position: fixed; */
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav img {
  width: 180px;
  margin-top: 12px;
  margin-left: 20px;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #2b2b2b;
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #2b2b2b;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Home.tsx */
.home {
  margin-top: 80px;
  margin-left: 1%;
  margin-right: 1%;
}

.home .main-title {
  font-family: 'Garamond';
  font-weight: 200;
  margin-top: 40px;
}

.home .project-path {
  font-family: 'Garamond';
  font-size: 25px;
  font-weight: 200;
  color: #2b2b2b;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: none;
}


.line {
  background-color: rgba(174, 172, 172, 0.71);
  height: 0.5px;
}

.project-preview {
  font-family: 'Garamond';
  font-weight: 200;
}

.project-preview p {
  margin-top: 10px;
  margin-bottom: -3px;
  font-size: 30px;
}

.project-preview a {
  font-size: 18px;
  text-decoration: none;
  color: #2b2b2b;
}

/* About.tsx */

.about {
  margin-top: 80px;
  margin-left: 1%;
  margin-right: 1%;
}

.about .box {
  background-color: #2b2b2b;
  height: 500px;
}

.about .box p {
  font-family: 'Garamond';
  font-weight: 200;
  font-size: 45px;
  padding: 100px;
  color: #e4e2de;
}

/* skills */
.skills-list {
  margin-top: 50px;
  color: #2b2b2b;
  font-family: 'poppins';
}

.skills-list .line {
  margin-top: 6%;
  margin-left: -30%;
}

/* reference */

.reference {
  margin-top: 100px;
  margin-left: 1%;
  margin-right: 1%;
}

.reference .reference-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 50px;
}

.reference .reference-container .circle {
  width: 180px;
  height: 180px;
  background-color: #2b2b2b;
  border-radius: 50%;
}

.reference .reference-container .circle .img-circle {
  width: 90px;
  height: 100px;
  margin-top: 47%;
  margin-left: 25%;
}

.reference p {
  font-family: 'poppins';
  font-size: 15px;
  font-weight: 100;
}

/* projects */

.project {
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.project .main-title {
  font-family: 'Garamond';
  font-weight: 200;
}

.project .list {
  margin-top: 40px;
}

.project .list .list-detail {
  margin-bottom: 80px;
}

.project .list .list-detail .title {
  font-family: 'Garamond';
  font-weight: 200;
}

.project .list .list-detail .date {
  font-family: 'poppins';
  margin-top: -12px;
}

.project .list .list-detail .explain {
  font-family: 'poppins';
  font-weight: 100;
}

.project .list .list-detail .skill_of_project {
  font-family: 'poppins';
  font-weight: 400;
}

.project .list .list-detail a {
  text-decoration: none;
  color: #2b2b2b;
  font-family: 'poppins';
}

.project .box {
  background-color: #e4e2de;
  height: 100px;
}

/* contact */
.contact {
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.contact-box {
  margin-left: 20px;
}

.contact .contact-title {
  font-family: 'Garamond';
  font-weight: 200;
}

.contact .email,
.contact .github {
  font-family: 'poppins';
  font-weight: 100;
  color: #2b2b2b;
}

.github a{
  text-decoration: none;
  color: #2b2b2b;
}

/* footer */
footer {
  margin-top: 100px;
  padding: 5%;
  height: 10px;
  background-color: #2b2b2b;
  font-family: 'poppins';
  font-size: 15px;
  font-weight: 100;
  color: #eeedeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  font-size: 12px;
}

.end_line {
  margin-top: 100px;
  background-color: rgba(174, 172, 172, 0.71);
  height: 0.5px;
}

@media (max-width: 1200px) {
  .home .main-title {
    font-size: 60px;
  }

  nav ul li a {
    font-size: 20px;
  }
  .skills-list {
    font-size: 25px;
  }
  .project .list .list-detail .title {
    font-size: 40px;
  }

  .project .list .list-detail .date {
    font-size: 30px;
  }
  .project .list .list-detail .explain {
    font-size: 25px;
  }
  .project .list .list-detail .skill_of_project {
    font-size: 20px;
  }
  .project .main-title {
    font-size: 70px;
  }
  .project .list .list-detail a {
    font-size: 20px;
  }
  .reference p {
    font-size: 22px;
  }

  .reference .reference-container .circle {
    margin-left: -10%;
  }

  .contact-title {
    font-size: 60px;
  }
  .contact .email,
  .contact .github {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-body {
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
  }
  nav ul li a {
    font-size: 17px;
  }

  .home .main-title {
    font-size: 45px;
  }

  .skills-list {
    font-size: 15px;
  }
  .project .list .list-detail .title {
    font-size: 22px;
  }

  .project .list .list-detail .date {
    font-size: 14px;
  }

  .project .list .list-detail .explain {
    font-size: 15px;
  }
  .project .list .list-detail .skill_of_project {
    font-size: 13px;
  }

  .project .main-title {
    font-size: 45px;
  }

  .project .list .list-detail a {
    font-size: 15px;
  }
  .reference p {
    font-size: 15px;
  }

  .contact-title {
    font-size: 45px;
  }

  .contact .email,
  .contact .github {
    font-size: 15px;
  }
}
