body {
  background-color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: brown;
}

h4 {
  font-family: 'Asap', sans-serif;
  font-size: 17px;
  color: blue;
  background-color: #c7dcfc;
}

p {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  color: rgb(241, 38, 38);
  margin-top: -10px;
}

span {
  font-family: 'Asap', sans-serif;
  font-size: 11px;
  color: black;
  /* margin-top: -30px;
  margin-bottom: -10px; */

}

.basicfont {
  font-family: 'Asap', sans-serif;
  font-size: 11px;
  color: black;
}

.menu-button {
  top: 15px;
  right: 10px;
  width:100px;
	height: 28px;
	background: #353535;
  color:#fff;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  float: right;
  cursor: pointer;
}