body {
  background-color: #E4E2DE;
  }
  
  h1 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #2B2B2B;
  }
  
  p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #2B2B2B;
    margin-top: -20px;
    font-size: 13px;
  }
  
  input {
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-color: #2B2B2B;
    color: white;
  }
  
  
  button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2B2B2B;
    color:#fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    float: right;
    cursor: pointer;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .calculatorBox {
    padding-top: 20PX;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    width: 290px;
  
  }