/* index.html */
.log-image {
  padding-left: 10px;
  width: auto;
  height: 55px;
  display: inline-block;
}

.log-name {
  padding: 3px 0px 0px 7px ;
  width: auto;
  height: 50px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.log-slogan {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
}

.menu-button {
  top: 15px;
  right: 10px;
  width:100px;
	height: 30px;
	background: #353535;
  color:#fff;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  float: right;
  cursor: pointer;
}

.main-image-line{
  width: 100%;
	position: relative;
  padding-top: 10px;
}

.main-image {
  vertical-align: middle;
}

.main-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 50px;
  padding: 5px 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.main-font {
  font-family: 'Asap', sans-serif;
  color: black;
}

.box-style {
  display: flex; 
  justify-content: flex-start; 
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 50px;
}

#box {
  width: 100%;
  height: 230px;
  background-color: #f8c373;
  border-radius: 5px;
  margin-right: 10px ;
  font-family: 'Asap', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.box-last {
  width: 100%;
  height: 2030px;
  background-color: #f8c373;
  border-radius: 5px;
  font-family: 'Asap', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.ul {
  font-family: 'Asap', sans-serif;
  color: black;
  font-size: 14px;
  list-style: none;
  padding-left: 0px;
}

li {
  /* margin-left: -20px; */
  padding-bottom: 10px;
}

a {
  color:black;
  text-decoration:none;
}

.etc-font {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  color: black;
}

input[id="yes"]  {
  top: -10px;
  position: relative;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

input[id="no"]  {
  top: -10px;
  position: relative;
	width: 12px;
	height: 12px;
	cursor: pointer;
  font-size: 10px;
}

/* Tech */

.html-css-body {
  background-color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
}

h4 {
  font-family: 'Asap', sans-serif;
  font-size: 17px;
  color: white;
  background-color: #f8c373; 
  padding: 5px 5px 5px 5px
}

p {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  color: #f8c373;
  margin-top: -10px;
}

span {
  font-family: 'Asap', sans-serif;
  font-size: 11px;
  color: black;
  /* margin-top: -30px;
  margin-bottom: -10px; */

}

.basicfont {
  font-family: 'Asap', sans-serif;
  font-size: 11px;
  color: black;
}

.home-button {
  top: 15px;
  right: 10px;
  width:100px;
	height: 28px;
	background: #353535;
  color:#fff;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  float: right;
  cursor: pointer;
}


/* who am I */
.first-div-style {
  padding: 5px;
  margin-top: -30px;
}

.div-style {
  padding: 5px; 
  margin-top: -10px;

}

.who-h2 {
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

.who-h3 {
  font-family: 'Roboto', sans-serif;
  background-color: #f8c373; 
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;

}

.who-p {
  font-family: 'Asap', sans-serif;
  color: rgba(13, 13, 13, 0.803);
  background-color: rgba(255, 166, 0, 0.377); 
  margin-top: -12px;
  padding: 10px 10px 10px 10px;
}

.who-a {
  text-decoration:none;
}

.span-bold {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(222, 147, 19);
  margin-top: 100px;
}


@media only screen and (min-width: 900px) {
  body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* EQ,IQ */

.tr-style {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  text-align: center;
}

.th-main {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  background-color: rgb(244, 244, 237);
}

.span-main {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  color: rgb(200, 131, 3);
}